:root{
    --text-color: #212121;
    --link-clolor: #757575;
    --background-color: #F5F4FA;
    --button-color: #2196F3;
    
}

body{
    font-family:'Roboto','Verdana', sans-serif;
    margin:0;
}



.header{
    background-color: #fff;
    height: 80px;
    margin-bottom: 0px;
    border: 1px solid #ECECEC;    
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.container_header{
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.footer{
    background-color: #2F303A;
    color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
    height: 252px;

}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.section_button{
    height: 600px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #2F303A;
    padding-top: 94px;
    padding-bottom: 94px;
}

.headline_content{
    text-align: center;
}

.content_portfolio{
    width: 1170px;
    height: 1360px;
    justify-content: space-between;

}



.logo{
    text-decoration: none;
    font-size: 24px;
    margin-top: 24px;
    color: #000000;
}
.footer_block .logo{
    color: #FFFFFF;
}


.pictures-staff{
background-color:var(--background-color);
height: 648px;
margin-left: 0px;
margin-top: 149px;
padding-top: 94px;
padding-bottom: 94px;


}

.section_portfolio{
    display: flex;
    list-style-type: none;
    /*
    padding-top: 54px;
    padding-bottom: 94px;
    */
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: var(--tekst-color);
    margin-right: 46px;

}
.link2{
    text-decoration: none;
    cursor: pointer;
    color: var(--link-clolor);
    margin-left: 50px;

}

.footer .link{
    color: var(--link-clolor);
    font-size: 14px;
    line-height: 2.4;
}

.footer p{
    font-size: 14px;
    line-height: 2;
}

.link:hover {
    color: var(--button-color);
}

.button_main{
    width: 200px;
    height: 50px;
    margin-left: 700px;        
    margin-top: 430px;
    color: #FFFFFF;
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 8%;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.06em;

       
}
.button_portfolio {
    width: 200px;
    height: 50px;
    margin-right: 30px;
    background-color: var(--background-color);
    position: center;
    border-color: var(--background-color);
    border-radius: 8%;
    

}
.button_portfolio:hover{
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
}

.headline_h1 {
    color:#FFFFFF;
    text-align:center;
    line-height: 2;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.headline_h2 {
    text-align: center;
}

.list_header{
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    margin-top: 32px;
    margin-bottom: 32px;

}

.list_header li{
    margin-right: 10px;
    margin-top: 10px;
}

.list_main{
    display: flex;
    list-style-type: none;
    padding: 20px;
    border-radius: 4px;
    justify-content: center;
}

.list_main li{
    margin-left: 0%;
    margin-right: 30px;
}

.picture{
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.list_block{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;

}

.list_block figure{
    border: 1px solid #EEEEEE;
    margin: 0px;
    margin-bottom: 30px;
}


.inf_picture{
    background-color: #FFFFFF;
    padding-top: 1%;
    text-align: center;
}
.inf_picture_portfolio{
    background-color: #FFFFFF;
    padding: 20px 24px 20px 24px;
    padding-top: 1%;
}

.blue{
    color:var(--button-color);
}
