:root{
    --text-color: black;
}

body{
    font-family:'Roboto','Verdana', 'Tahoma', sans-serif;
}



.header{
    background-color: #ECECEC;
    width: 1600px;
    height: 80px;
    margin-bottom: 0px;
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
}

.footer{
    background-color: #2F303A;
    color: #FFFFFF;
}

.section_button{
    width: 1600px;
    height: 600px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #2F303A;
}



.logo{
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    padding: 17px;
    color: #000000;
}
.footer_block .logo{
    color: #FFFFFF;
}


.pictures-staff{
background-color:#F5F4FA;
width: 1600px;
height: 648px;
margin-left: 0px;
margin-top: 149px;


}

.section_portfolio{
    display: flex;
    list-style-type: none;
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: #212121;

}

.footer .link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 2.4;
}

.footer p{
    font-size: 14px;
    line-height: 2;
}

.link:hover {
    color: #2196F3;
}

.button_main{
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 700px;        
    margin-top: 430px;
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
    border-radius: 8%;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

       
}
.button_portfolio {
    width: 200px;
    height: 50px;
    margin-left: 700px;
    margin-top: 430px;
    background-color: #F5F4FA;
    position: center;
    border-color: #F5F4FA;
    border-radius: 8%;
    

}
.button_portfolio:hover{
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
}

.headline_h1 {
    color:#FFFFFF;
    text-align:center;
    line-height: 2;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.headline_h2 {
    text-align: center;
}

.list_header{
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    border-radius: 4px;


}

.list_header li{
    margin-right: 10px;
    margin-top: 10px;
}

.list_main{
    display: flex;
    list-style-type: none;
    padding: 20px;
    border-radius: 4px;
    justify-content:center;
}

.list_main li{
    margin-left: 0%;
    margin-right: 30px;
}

.picture{
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.list_block{
    display: flex;
    list-style-type: none;
    margin: auto;
    flex-wrap: wrap;

}

.inf_picture{
    background-color: #FFFFFF;
    margin-top: auto;
    padding-top: 1%;
    text-align: center;
}

.blue{
    color:#2196F3;
}
